#CodeNevis - Python Basics : Variables (except String), opperands , and Comments by Zara

##how to comment

In [2]:
# im a comment !
"""
im a bigger comment
much bigger !
"""

'\nim a bigger comment\nmuch bigger !\n'

## how to print something

In [6]:
print("Hello Harry Potter, my name is Tom Riddle!")
print("im a ",3," year old angel!")
print("im a "+str(3)+" year old man!")
print("im a "+str(3)+"\n year old man!")
print('\n\n"quotion mar"')

Hello Harry Potter, my name is Tom Riddle!
im a  3  year old angel!
im a 3 year old man!
im a 3
 year old man!


"quotion mar"

##numbers

###integer

In [9]:
print(type(2))

<class 'int'>

###float

In [8]:
print(type(-2.22345))

<class 'float'>

###convert float to int and viceversa

In [10]:
print(float(2))

2.0

In [11]:
print(int(2.234))

2

###how to define a variable ?

Name = Value

In [13]:
a = 3 #true but WRONG

once_upon_a_day_Poirot_combed_his_mustache = 2 #true but WRONG

AN_INTEGER = 2 #good but better to avoid

an_integer = 2 #great!

In [14]:
print(2)
print(an_integer)

2
2

##Math !

In [15]:
an_int = 2
a_float = 3.4

add

In [16]:
print(an_int + a_float)

5.4

sub

In [17]:
print(an_int - a_float)

-1.4

multiply

In [19]:
print(an_int * a_float)

6.8

power

In [20]:
print(a_float ** an_int)

11.559999999999999

devide

In [21]:
print(a_float / an_int)

1.7

floor

In [23]:
another_int = 5
print(another_int // an_int)

2

square root

In [24]:
import math
print(math.sqrt(another_int))

2.23606797749979

Modulus

In [25]:
print(another_int % an_int)

1

plus 1

In [26]:
print(another_int)
another_int+=1 # also *= , /= , -= etc   another = another + 1
print(another_int)

5
6

##boolean

In [ ]:
print(type(True))
print(type(False))

In [29]:
print(True - True)
print(False - True)
print(True - False)
print(False - False)
print(True + True)
print(False + True)
print(True + False)
print(False + False)
print(True * True)
print(False * True)
print(True * False)
print(False * False)
print(True / True)
print(False / True)
#print(True / False) #throws error
#print(False / False) #throws error

0
-1
1
0
2
1
1
0
1
0
0
0
1.0
0.0

In [33]:
print(True and True)
print(False and True)
print(True and False)
print(False and False)
print(True or True)
print(False or True)
print(True or False)
print(False or False)
print(not True)
print(True | True)
print(False & True)

True
False
False
False
True
True
True
False
False
True
False

### operators

In [34]:
print(1<3)
print(1>3)
print(1<=3)
print(1>=3)

True
False
True
False

In [35]:
print(1==3)
print(1==1)
print(1!=3)
print(1!=1)

False
True
True
False

In [37]:
print((1<3)and(1>3))
print((1<3)or(1>3))

False
True

###None

In [ ]:
print(type(None))

In [ ]:
print(0==None)

##string abstract

In [38]:
a_char='a'
another_char="b"
print(type(another_char))
print(a_char==a_char)
print(a_char==another_char)

<class 'str'>
True
False

In [39]:
print("abc"+"a")

abca

##how to get value from user?

In [41]:
users_input = input("please give me something !")
print(type(users_input))

please give me something !asdf
<class 'str'>

get numbers

In [43]:
users_number = input("please give me a number !")
print(users_number+str(2)) # throws error !

please give me a number !23
232

In [45]:
users_number = input("please give me a number !")
users_number = int(users_number)
print(users_number+2) # works but wrong !

please give me a number !2
4

In [46]:
users_number = input("please give me a number !")
users_number = float(users_number)
print(users_number+2) #great !

please give me a number !2.356
4.356