#CodeNevis - Python Basics : Inheritance , مرگ یکبار شیون هم یکبار
# Classes part2

##what is a inheritance

In [2]:

class Animal:
  number_of_arms=0
  number_of_horns=2
  race=""
  name=""
  num_children=0
  def give_birth(self):
    self.num_children = self.num_children+1

class Dog(Animal):
  def best_friend():
    return "John Wick"

#Dog is an animal!

animal_is_super_object = Animal
animal_is_super_object.number_of_arms=4
animal_is_super_object.race="mamals"
animal_is_super_object.name="human"
print("1. ", animal_is_super_object.number_of_arms,animal_is_super_object.race,animal_is_super_object.name)
# best friend ??

Cerberus = Dog
Cerberus.number_of_arms=4
Cerberus.race="dogs"
Cerberus.name="cerberus"
print("2. ", Cerberus.number_of_arms,Cerberus.race,Cerberus.name,Cerberus.best_friend())

1.  4 mamals human
2.  4 dogs cerberus John Wick

In [ ]:
# EVERY THING ABOUT CLASSES PART1 WORKS HERE TOO!

##attributes and initialization

In [3]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.name = name
        self.height = height
        self.salary = salary

class Senior_Employee(Employee):
  def __init__(self, name = "" , height=0 , salary=0,exp=0):
    Employee.__init__(self, name ,height , salary)
    self.exp = exp

employee_1=Employee()
print("1.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary)
employee_2=Employee("darth vader",1.89,5000)
print("2.",employee_2,"     ",employee_2.name,employee_2.height,employee_2.salary)
employee_3 = Senior_Employee("Emperor palpatine",1.60,150000,8)
print("3.",employee_3,"     ",employee_3.name,employee_3.height,employee_3.salary,employee_3.exp)

1. <__main__.Employee object at 0x7fb3f6f01ff0>        0 0
2. <__main__.Employee object at 0x7fb413837bb0>       darth vader 1.89 5000
3. <__main__.Senior_Employee object at 0x7fb413837760>       Emperor palpatine 1.6 150000 8

Super

In [4]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.name = name
        self.height = height
        self.salary = salary

class Senior_Employee(Employee):
  def __init__(self, name = "" , height=0 , salary=0,exp=0):
    super().__init__( name ,height , salary)
    self.exp = exp

employee_1=Employee()
print("1.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary)
employee_2=Employee("darth vader",1.89,5000)
print("2.",employee_2,"     ",employee_2.name,employee_2.height,employee_2.salary)
employee_3 = Senior_Employee("Emperor palpatine",1.60,150000,8)
print("3.",employee_3,"     ",employee_3.name,employee_3.height,employee_3.salary,employee_3.exp)

1. <__main__.Employee object at 0x7fb3f6f00b80>        0 0
2. <__main__.Employee object at 0x7fb3f6f03df0>       darth vader 1.89 5000
3. <__main__.Senior_Employee object at 0x7fb3f6f01ed0>       Emperor palpatine 1.6 150000 8

##Functions overloading

In [5]:
"""
class name:
  define functions
define object as object = name_of_class()
object.function()


MIND THE GAP! AND MIND :
"""
class Animal:
  def __init__(self,number_of_arms=0,number_of_horns=2,race="",name="",num_children=0):
    self.number_of_arms = number_of_arms
    self.number_of_horns = number_of_horns
    self.race = race
    self.name = name
    self.num_children = num_children
  def give_birth(self):
    self.num_children = self.num_children+1


class Dog(Animal):
  def __init__(self,number_of_arms=0,number_of_horns=2,race="",name="",num_children=0):
    super().__init__(number_of_arms,number_of_horns,race,name,num_children)
  def best_friend():
    return "John Wick"
  def give_birth(self):
    self.num_children = self.num_children+30

class Dragon(Animal):
  def __init__(self,number_of_arms=0,number_of_horns=2,race="",name="",num_children=0):
    super().__init__(number_of_arms,number_of_horns,race,name,num_children)

  def give_birth(self):
    print("once upon time a dragon met Shreks khar!")
    super().give_birth()
    # Animal.give_birth()


alien = Animal(4,4,"Unknown","Zaxivas",0)
print("1. ", alien.number_of_arms,alien.race,alien.name)
fenrir = Dog(4,0,"Dogs","Fenrir/Fenris",0)
print("2. ", fenrir.number_of_arms,fenrir.race,fenrir.name,fenrir.num_children)
fenrir.give_birth()
print("3. ",fenrir.num_children)
smaug = Dragon(4,2,"reptile","Smaug",0)
print("4. ", smaug.number_of_arms,smaug.race,smaug.name,smaug.num_children)
smaug.give_birth()
print("5. ",smaug.num_children)

1.  4 Unknown Zaxivas
2.  4 Dogs Fenrir/Fenris 0
3.  30
4.  4 reptile Smaug 0
once upon time a dragon met Shreks khar!
5.  1

##multi inhertances

In [20]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.name = name
        self.height = height
        self.salary = salary

  def give_name(self):
    return  "employee's name is "+self.name

class Person:
  def __init__(self ,name="" ,Hobbies = "" ):
        self.Hobbies = Hobbies
        self.name = name
  def give_name(self):
    return  "person's name is"+self.name


class Senior_Employee(Employee,Person):
  def __init__(self, name = "" , height=0 , salary=0,exp=0,):
    super().__init__( name ,height , salary)
    self.exp = exp

  def give_name(self):
    return super().give_name()



employee_1 = Senior_Employee("Emperor palpatine",1.60,150000,8)
print("1.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary,employee_1.exp)
print("2.",employee_1,"     ",employee_1.give_name())

1. <__main__.Senior_Employee object at 0x7fb3f6f30340>       Emperor palpatine 1.6 150000 8
2. <__main__.Senior_Employee object at 0x7fb3f6f30340>       employee's name isEmperor palpatine

In [19]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.name = name
        self.height = height
        self.salary = salary

  def give_name(self):
    return  "employee's name is"+self.name

class Person:
  def __init__(self ,name="" ,Hobbies = "" ):

        self.Hobbies = Hobbies
        self.name = name
  def give_name(self):
    return  "person's name is "+self.name


class Senior_Employee(Employee,Person):
  def __init__(self, name = "" , height=0 , salary=0,exp=0,hobbies=""):
    Employee.__init__(self, name ,height , salary)
    Person.__init__(self,name,hobbies)
    self.exp = exp

  def give_name(self):
    return Person.give_name(self)



employee_1 = Senior_Employee("Emperor palpatine",1.60,150000,8,"watching netflix")
print("1.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary,employee_1.exp,employee_1.Hobbies)
print("2.",employee_1,"     ",employee_1.give_name())

1. <__main__.Senior_Employee object at 0x7fb3f6f33880>       Emperor palpatine 1.6 150000 8 watching netflix
2. <__main__.Senior_Employee object at 0x7fb3f6f33880>       person's name is Emperor palpatine

In [27]:
class Number1:
  def __init__(self):
    print(1)

class Number2(Number1):
  def __init__(self):
    super().__init__()
    print(2)
    # super().__init__()

class Number3(Number2):
  def __init__(self):
    super().__init__()
    print(3)

nummber3 = Number3()

2
1
3