#CodeNevis - Python Basics : structures and String Lists, Tuples, and Dictionaries by Zara

##leftovers

In [ ]:
print(type(None))

In [ ]:
print(0==None)

##List

how to define a list

In [ ]:
a_list = []
a_filled_list=[1,"a",2,"b",a_list]
print(a_list)
print(a_filled_list)

[]
[1, 'a', 2, 'b', []]
1 a 2 b []

indexing

In [ ]:
a_filled_list=[1,2,3,4,5]
print("1. ",a_filled_list[0],a_filled_list[1],a_filled_list[2],a_filled_list[3],a_filled_list[4])
print("2. ",a_filled_list[2:4])
print("3. ",a_filled_list[-1])#last item
print("4. ",a_filled_list[-2:-1])
print("5. ",a_filled_list[0:-1])
print("6. ",a_filled_list[3:])
print("7. ",a_filled_list[:])

1 2 3 4 5
[3, 4]
5
[4]
[1, 2, 3, 4]
[4, 5]

working with list

In [ ]:
a_list_of_numbers= [1,2,3,4,5,6]
print("1. ",len(a_list_of_numbers))

#add something at the end of the list
a_list_of_numbers.append(7)
print("2. ",a_list_of_numbers," length: ",len(a_list_of_numbers))

#add a list to the end of the another
another_list=[8,9,10]
a_list_of_numbers.extend(another_list)
print("3. ",a_list_of_numbers," length: ",len(a_list_of_numbers))

#change list items
a_list_of_values = a_list_of_numbers
a_list_of_values[0] = "a"
a_list_of_values[1:3]=["b","c"]
print("4. ",a_list_of_values)

#delete an item by index
del a_list_of_values[0:3]
print("5. ",a_list_of_values," length: ",len(a_list_of_values))

#delete an item by value
a_list_of_values.remove(10)
print("6. ",a_list_of_values," length: ",len(a_list_of_values))

print("7. ",a_list_of_numbers)#why ?
a_list_of_numbers = [1,2,3,4,5,6]
a_list_of_values = a_list_of_numbers.copy()
del a_list_of_values[0:3]
print("8. ",a_list_of_values," and ",a_list_of_numbers)


a_list_of_numbers = [8,2,9,4,5,7]
a_list_of_numbers.reverse()
print("9. ",a_list_of_numbers)
a_list_of_numbers.sort()
print("10. ",a_list_of_numbers)

a_list_of_numbers = [8,2,9,4,5,7]
print("10. ",a_list_of_numbers.index(9))

a_list_of_numbers = [8,2,9,4,5,7,7]
print("11. ",a_list_of_numbers.count(7))

1.  6
2.  [1, 2, 3, 4, 5, 6, 7]  length:  7
3.  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  length:  10
4.  ['a', 'b', 'c', 4, 5, 6, 7, 8, 9, 10]
5.  [4, 5, 6, 7, 8, 9, 10]  length:  7
6.  [4, 5, 6, 7, 8, 9]  length:  6
7.  [4, 5, 6, 7, 8, 9]
8.  [4, 5, 6]  and  [1, 2, 3, 4, 5, 6]
9.  [7, 5, 4, 9, 2, 8]
10.  [2, 4, 5, 7, 8, 9]
10.  2
11.  2

##tuples

how to define a tuple

In [ ]:
a_tuple=()
another_tupple = (1,2,"abc",[1,"a"])
another_tupple_2 = 1,2,"abc",[1,"a"]
print(a_tuple)
print(another_tupple)
print(another_tupple_2)
print(another_tupple_2+another_tupple)

()
(1, 2, 'abc', [1, 'a'])
(1, 2, 'abc', [1, 'a'])
(1, 2, 'abc', [1, 'a'], 1, 2, 'abc', [1, 'a'])

difference with list

In [ ]:
a_sample_list=[0,1,2,3]
a_sample_tuple=(0,1,2,3)

In [ ]:
a_sample_list.append(8)

In [ ]:
a_sample_tuple.append(4)

AttributeError: ignored

In [ ]:
a_sample_list[0]=4

In [ ]:
a_sample_tuple[0]=4

TypeError: ignored

indexing

In [ ]:
a_sample_tuple=(0,1,2,3)
print("1. ",a_sample_tuple[0],a_sample_tuple[1],a_sample_tuple[2],a_sample_tuple[3])
print("2. ",a_sample_tuple[2:4])
print("3. ",a_sample_tuple[-1])#last item
print("4. ",a_sample_tuple[-2:-1])
print("5. ",a_sample_tuple[0:-1])
print("6. ",a_sample_tuple[3:])
print("7. ",a_sample_tuple[:])

1.  0 1 2 3
2.  (2, 3)
3.  3
4.  (2,)
5.  (0, 1, 2)
6.  (3,)
7.  (0, 1, 2, 3)

working with tuple

In [ ]:
a_sample_tuple=(0,1,2,3,1)
print("1. ",a_sample_tuple.count(1))
print("2. ",a_sample_tuple.index(1))
print("3. ",a_sample_tuple.index(2))

1.  2
2.  1
2.  2

tuple to list

In [ ]:
a_sample_tuple=(0,1,2,3,1)
print(type(a_sample_tuple))
print(type(list(a_sample_tuple)))

<class 'tuple'>
<class 'list'>

##dictionary

define a dict

In [1]:
a_dict={}
another_dict={1:"a",
              "a":4,
              4:True,
              "tr":['a',2]}
print(a_dict)
print(another_dict)

{}
{1: 'a', 'a': 4, 4: True, 'tr': ['a', 2]}

difference with list

In [13]:
a_list=[1,2,3,4]
a_dict={"number one":1,
       2:2,
       "3":3,
       "four":4}
print(a_list[0],a_list[1],a_list[2],a_list[3])
print(a_dict["number one"],a_dict["3"],a_dict[2],a_dict["four"])

#proffesionals make a tuple as keys nd list as values
keys="a","b","c"
vals=[0,1,2]
professional_dict={keys[0]:vals[0],
                   keys[1]:vals[1],
                   keys[2]:vals[2]}
print(professional_dict)

#or
dictionary = dict(zip(keys, vals))
print(dictionary)

1 2 3 4
1 3 2 4
{'a': 0, 'b': 1, 'c': 2}
{'a': 0, 'b': 1, 'c': 2}

indexing

In [8]:
a_list=[1,2,3,4]
a_dict={"number one":1,
       2:2,
       "3":3,
       "four":4}
print(a_dict["number one"],a_dict["3"],a_dict[2],a_dict["four"])

1 3 2 4

work with dict

In [19]:
student_cases={"1":"will","2":"harry"}

#add to dict
student_cases['3']="somaye"
print("1. ",student_cases)

#edit value
student_cases['3']="atabak"
print("2. ",student_cases)

#delete by key
del student_cases['3']
print("3. ",student_cases)

#length
print("4. ",len(student_cases))

#list of keys
print("5. ",list(student_cases.keys()))

#list of values
print("6. ",list(student_cases.values()))

1.  {'1': 'will', '2': 'harry', '3': 'somaye'}
2.  {'1': 'will', '2': 'harry', '3': 'atabak'}
3.  {'1': 'will', '2': 'harry'}
4.  2
5.  ['1', '2']
6.  ['will', 'harry']

##string

string is a tuple of chars

In [ ]:
a_string="three rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,"\
          "nine for the mortal men doomed to die, one for the dark lord on his dark throne"
print("1. ",a_string[0],a_string[1],a_string[2],a_string[3],a_string[4])
print("2. ",a_string[2:4])
print("3. ",a_string[-1])#last item
print("4. ",a_string[-2:-1])
print("5. ",a_string[0:-1])
print("6. ",a_string[3:])
print("7. ",a_string[:])

print("8. ",len(a_string))

#add something at the end of the string
a_string+"+" #exception
print("9. ",a_string," length: ",len(a_string))

another_list=".?_"
a_string+another_list
print("10. ",a_string," length: ",len(a_string))


words = "lord of the rings"
words.replace("o"," ")
print("11. ",words.replace("o"," "),words)
list_of_words = words.split(" ")
print("12. ",list_of_words)
sentence = ' '.join(list_of_words)
a_list_of_words = "lord of the rings"
print("13. ",a_list_of_words.index("o"))

print("14. ",a_list_of_words.count("o"))

print("15. ",a_list_of_words.find(" "))

print("16. ",a_list_of_words.upper())

print("17. ","ALIBABA".lower())

1.  t h r e e
2.  re
3.  e
4.  n
5.  three rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,nine for the mortal men doomed to die, one for the dark lord on his dark thron
6.  ee rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,nine for the mortal men doomed to die, one for the dark lord on his dark throne
7.  three rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,nine for the mortal men doomed to die, one for the dark lord on his dark throne
8.  197
9.  three rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,nine for the mortal men doomed to die, one for the dark lord on his dark throne  length:  197
10.  three rings for the elven kings, who rule in the sky and fields, seven for the dwarven lords in their house of stones,nine for the mortal men doomed to die, one for the dark lord on his dark throne  length:  197
11.  l rd  f the rings lord of the rings
12.  ['lord', 'of', 'the', 'rings']
13.  1
14.  2
15.  4
16.  LORD OF THE RINGS
17.  alibaba