#CodeNevis - Python Basics : Classes, مرگ یکبار شیون هم یکبار
#part1

##what is a class

In [1]:
number_of_arms=4
number_of_horns=2
race="mamals"
name="zi zi golo"
def give_birth(num_children):
  return num_children+1

num_children = 3
num_children = give_birth(num_children)

#relation ?
print(number_of_arms,number_of_horns,race,name,num_children)

class Animal():
  number_of_arms=0
  number_of_horns=2
  race=""
  name=""
  num_children=0
  def give_birth(self):
    self.num_children = self.num_children+1

zizigolo=Animal()
zizigolo.number_of_arms=4
zizigolo.number_of_horns=2
zizigolo.race="mamals"
zizigolo.name="zi zi golo"
zizigolo.num_children=0
print(zizigolo.num_children)
zizigolo.give_birth()

print(zizigolo,"\n",zizigolo.number_of_arms,zizigolo.number_of_horns,zizigolo.race,name,zizigolo.num_children)

4 2 mamals zi zi golo 4
0
<__main__.Animal object at 0x7fa25db1a470>
 4 2 mamals zi zi golo 1

##attributes

###return and void

In [3]:
"""
class name:
  define vars 
define object as object = name_of_class()
object.var


MIND THE GAP! AND MIND :
"""
class Employee:
  name=""
  height=0
  salary=0

employee_1=Employee()
print("1.",employee_1,"     ",employee_1.height)
employee_2=Employee()
employee_1.name = "Voldemort"
height=1.68
employee_1.height=height
employee_1.salary=5000
print("2.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary)
print("3.",employee_2,"     ",employee_2.name,employee_2.height,employee_2.salary)

1. <__main__.Employee object at 0x7fa25db1ab00>       0
2. <__main__.Employee object at 0x7fa25db1ab00>       Voldemort 1.68 5000
3. <__main__.Employee object at 0x7fa25db1b0d0>        0 0

init - constructor

In [4]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'height',
 'name',
 'salary']

In [5]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.name = name
        self.height = height
        self.salary = salary
employee_1=Employee()
print("1.",employee_1,"     ",employee_1.name,employee_1.height,employee_1.salary)
employee_2=Employee("darth vader",1.89,5000)
print("2.",employee_2,"     ",employee_2.name,employee_2.height,employee_2.salary)
employee_2.salary=5003
print("3.",employee_2,"     ",employee_2.name,employee_2.height,employee_2.salary)

1. <__main__.Employee object at 0x7fa25db187f0>        0 0
2. <__main__.Employee object at 0x7fa25db1add0>       darth vader 1.89 5000
3. <__main__.Employee object at 0x7fa25db1add0>       darth vader 1.89 5003

setters and getters

In [6]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [7]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.__name = name
        self.__height = height
        self.__salary = salary
employee_1=Employee()
print("1.",employee_1,"     ",employee_1.__name,employee_1.__height,employee_1.__salary)
employee_2=Employee("darth vader",1.89,5000)
print("2.",employee_2,"     ",employee_2.__name,employee_2.__height,employee_2.__salary)
employee_2.__salary=5003
print("3.",employee_2,"     ",employee_2.__name,employee_2.__height,employee_2.__salary)

#although it throwsa error , its very cool!

AttributeError: ignored

In [8]:
class Employee:
  def __init__(self, name = "" , height=0 , salary=0):
        self.__name = name
        self.__height = height
        self.__salary = salary
  @property
  def get_name(self):
        help = "names getter"
        return self.__name

  def set_name(self, value):
        help = "names setter"
        self.__name = value

  def del_name(self):
        del self.__name
  
  @property
  def get_height(self):
        help = "heights getter"
        return self.__height

  def set_height(self, value):
        help = "heights setter"
        self.__height = value

  def del_height(self):
        del self.__height

  @property
  def get_salary(self):
        help = "salarys getter"
        return self.__salary

  def set_salary(self, value):
        help = "salarys setter"
        self.__salary = value

  def del_salary(self):
        del self.__salary
        
employee_1=Employee()
print("1.",employee_1,"     ",employee_1.get_name,employee_1.get_height,employee_1.get_salary)
employee_2=Employee("darth vader",1.89,5000)
print("2.",employee_2,"     ",employee_2.get_name,employee_2.get_height,employee_2.get_salary)
employee_2.set_salary(5003)
print("3.",employee_2,"     ",employee_2.get_name,employee_2.get_height,employee_2.get_salary)

#so we can make things alot secured. we can control the flow.

1. <__main__.Employee object at 0x7fa25db4efe0>        0 0
2. <__main__.Employee object at 0x7fa25db4c100>       darth vader 1.89 5000
3. <__main__.Employee object at 0x7fa25db4c100>       darth vader 1.89 5003

##Functions

In [9]:
"""
class name:
  define functions 
define object as object = name_of_class()
object.function()


MIND THE GAP! AND MIND :
"""

class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
  
  def cal_area(self):
    return self.width * self.height

rect_1 = Rect(10,20,"Oz")
print(rect_1.cal_area())

200

In [10]:
class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
  
  def cal_area(self):
    self.area = self.width * self.height
    return self.width * self.height

rect_1 = Rect(10,20,"Oz")
# print(rect_1.area)
print(rect_1.cal_area())
print(rect_1.area)

200
200

##Special Functions

In [12]:
class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
    print("created a rectangle")
  
  def __str__(self):
    return "im a rect with measures of ({0},{1})".format(self.height, self.width)

  def __len__(self):
    return len(self.name)

  def cal_area(self):
    self.area = self.width * self.height
    return self.width * self.height

a_rect = Rect(15,8,"rectangle")#init worked
print(a_rect)#str worked
print(len(a_rect))#len worked

created a rectangle
im a rect with measures of (15,8)
9

## Operators

In [13]:
class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
  
  def cal_area(self):
    self.area = self.width * self.height
    return self.width * self.height

rect_1 = Rect(10,20,"Oz")
rect_2 = Rect(20,10,"another Oz")
rect_1+rect_2

TypeError: ignored

In [ ]:
"""
+     __add__
-     __sub__
*     __mul__
**    __pow__
/     __truediv__
//    __floordiv__
%     __mod__
&     __and__
|     __or__
~     __invert__
<     __lt__
<=    __le__
==    __eq__
!=    __nq__
>     __gt__
>=    __ge__
"""

In [14]:
class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
  
  def cal_area(self):
    self.area = self.width * self.height
    return self.width * self.height

  def __add__(self,another_class):
    new_rect=Rect(self.height+another_class.height,
                  self.width+another_class.width,
                  self.name+" Combined with "+another_class.name)
    return new_rect
rect_1 = Rect(10,20,"Oz")
rect_2 = Rect(20,10,"another Oz")
rect3=rect_1+rect_2
print(rect3," ",rect3.width," ",rect3.height, " ",rect3.name, " ",rect3.cal_area)

<__main__.Rect object at 0x7fa25db1b280>   30   30   Oz Combined with another Oz   <bound method Rect.cal_area of <__main__.Rect object at 0x7fa25db1b280>>

In [15]:
class Rect:
  def __init__(self,height,width,name="example"):
    self.height = height
    self.width = width
    self.name = name
  
  def cal_area(self):
    self.area = self.width * self.height
    return self.width * self.height

  def __add__(self,another_class):
    return 8-2
rect_1 = Rect(10,20,"Oz")
rect_2 = Rect(20,10,"another Oz")
sub=rect_1+rect_2
print(sub)
#but please dont do that :)

6